<!DOCTYPE html>
<html lang="en">
<head>
  <title>Real Insights - US Housing Market</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
        div {
          display: block;
          position: relative;
          height: 100%;
        }
        div::after {
          content: "";
          background: url(../static/assets/bg.jpg);
          opacity: 0.2;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          position: absolute;
          z-index: -1;   
        }
    </style>
  <link rel="stylesheet" type="text/css" href="../static/assets/css/mystyles.css">
</head>
<body>

<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header" >
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <img src="../static/assets/title.gif" alt="Company Name">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/map" class = "mainlink">US Housing Price</a></li>
            <li><a href="/line" class = "mainlink">Charts</a></li>
            <li><a href="/data" class = "mainlink">Data</a></li>
            <li class="active"><a href="/about" class = "mainlink">About</a></li>
          </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-12 text-center" > 
      <h1>About us</h1>
      <p>A group of data savvy analysts</p>
      <img src = "../static/assets/team.jpg" height = 300> 
    </div>
    <h4><strong>President and CEO:</strong> Nisha Krishnankutty</h4>
    <!-- <p>Nisha is the ...............</p> -->
    <p>____________________________________</p>
    <h4><b>Chief Technical Officer:</b> Nandu Iyer</h4>
    <!-- <p>Nandu has been with Real Insights for..........</p> -->
    <p>____________________________________</p>
    <h4><b>Chief Operating Officer:</b> Anupa Jose</h4>
    <!-- <p>Anupa has been with Real Insights for....... </p> -->
    <p>____________________________________</p>
    <h4><b>Director of Operations:</b> Eyamba Bokamba</h4>
    <!-- <p>Eyamba has been with Real Insights for....... </p> -->
    <p>____________________________________</p>
    <h4><b>Director of Marketing and Public Relations:</b> Abe Rizvi</h4>
    <!-- <p>Abe has been with Real Insights for....... </p> -->
    <p>____________________________________</p>
    <h4><b>Outside Counsel:</b> Catherine Wegner</h4>
    <!-- <p>Catherine.................... </p> -->
    <!-- <div class="Bios"> -->
      <div class= "col-sm-12 text-left" ></div>
      
      

      
    </div>
  </div>
</div>

</body>
</html>
